* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.container {
  display: flex;
}

.holder {
  position: relative;
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: flex 2s;
  overflow-x: hidden;
}

h1,
button {
position: relative;
top: 30%;
}

.holder img {
  position: absolute;
  width: 100%;
  z-index: -10;
  height: 100vh;
  object-fit: cover;
  object-position: 0 50%;
}

.left img::before {
  content: "";
  background-color: blue;
  opacity: 0.8;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100vh;
  z-index: 10;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

button {
  width: 200px;
  height: 70px;
  background-color: transparent;
  border: 4px solid white;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.left button:hover {
  border-color: rgb(86, 86, 190);
  background-color: rgb(86, 86, 190);
}

.right button:hover {
  border-color: green;
  background-color: green;
}